<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema coder 55350</title>
</head>
<body>
    <h1>Hola , les saluda {{profesor}}<h1>
    
    <h3>Alumnos inscritos:</h3>
    <ul>
    {% for estudiante in estudiantes %}
        <li>
            {{ estudiante.apellido }}, {{ estudiante.nombre }}
            {% if estudiante.nota >= 5 %}
            APROBADO
            {% else %}
            REPROBADO
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    
</body>
</html>